body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 50px 25px 50px 50px ;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    grid-column: 2/ span 2;
}

.button {
    font-family: Helvetica, sans-serif;
    height: 150px;
    width: 150px;
}

.one {
    background-color: rgb(146, 253, 218);
    grid-row: 2;
    grid-column: 2;
    justify-self: right;
}

.two {
    background-color: rgb(253, 203, 181);
    grid-row: 2;
    grid-column: 3; 
}

.three {
    color: white;
    background-color: rgb(133, 39, 39);
    grid-column: 2;
    grid-row: 3;
    justify-self: right;
}

.four {
    color: white;
    background-color: rgb(91, 134, 147);
    grid-column: 3;
    grid-row: 3;
}

.turncount {
    grid-column: 2/ span 2; 
    grid-row: 5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.play {
    grid-column: 2/ span 2; 
    grid-row: 7;
}